<div class="menu" ng-if="loggedInUser">
    <div class="container-fluid">
        <div class="navbar-header">
			<a href="#/dashboard">User Portal</a>
		</div>
		<div>
                    <button class="btn btn-primary toggle-dropdown nav navbar-nav navbar-right" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"> <span class="glyphicon glyphicon-cog" style="right: -5px;"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <!--<li><a href ng-click="changePassword();"><span class="glyphicon glyphicon-lock"></span> Change Password </a></li>-->
              <li><a href ng-click="editUser();"><span class="glyphicon glyphicon-pencil"></span> Update Profile</a></li>
				<li><a href ng-click="logout();"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
			</ul>
          </div>
		</div>
	</div>
</div>
<div class="nav-side-menu" ng-if="loggedInUser">   
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href ui-sref="dashboard"><i class="fa fa-gift fa-lg"></i> Manage Key <span class="arrow"></span></a>
                </li>
               
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href ui-sref="mypoi"><i class="fa fa-globe fa-lg"></i> My Poi <span class="arrow"></span></a>
                </li>  
               


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="http://dev.alamatint.com/svapi/app/#/" target="blank"><i class="fa fa-car fa-lg"></i> List Of Feature <span class="arrow"></span></a>
                </li>
             </ul>
     </div>
</div> 

<!-- Modal -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog classifierdialog" role="document">
        <div class="modal-content">  
        <form class="cropperForm form" name="updateFormUser" role="form" ng-submit="updateFormUser.$valid && updateUser();" novalidate>    
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Profile</h4>
            </div>  
            <div class="modal-body">
                <div class='row'>
                    <div class="col-xs-12">
                        <label class="required_lable">Full Name </label>
                        <div class="form-group">                                      
                            <input type="text" class="form-control" name="fullname" ng-model='editUserDetail.fullName' required>
                            <p><span ng-show="updateFormUser.fullname.$error.required">Full name required</span></p>
                        </div>
                    </div>  
                     
                    <div class="modal-footer">
                    <input type="submit" class="btn btn-success"  ng-disabled="" value="Update">
                    <a href ng-if="isloader"><img src="images/button_loader.gif"></a>
                </div>

                </div>  
            </div>
        </form>   
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog classifierdialog" role="document">
        <div class="modal-content">  
        <form class="cropperForm form" name="updatePassword" role="form" ng-submit="updatePassword.$valid && submitChangePassword();" novalidate>    
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>  
            <div class="modal-body">
                <div class='row'>
                    <div class="col-xs-12">
                        <label class="required_lable">New Password</label>
                        <div class="form-group">                                      
                            <input type="password" class="form-control" name="password" ng-model='editUserDetail.password' required>
                            <p><span ng-show="updatePassword.password.$error.required">Password required</span></p>
                        </div>
                    </div>  
                     
                    <div class="modal-footer">
                    <input type="submit" class="btn btn-success"  ng-disabled="" value="Update">
                </div>

                </div>  
            </div>
        </form>   
        </div>
    </div>
</div>