<div class="col-lg-9 col-sm-offset-8 col-md-offset-6 col-lg-offset-3 toppad" >
<form class="form-horizontal" role="form">
                <h2>Edit Poi</h2>
                <div class="form-group">
                    <label for="poiName" class="col-sm-3 control-label">Poi Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="poiName" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Poi Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-9">
                        <input type="text" id="phone" placeholder="Phone" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form> <!-- /form -->
</div>