<div class="toppad">
	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
			<div class="login-form">
				<!--Sign In design--> 
				<form name="signin" novalidate>
					<div class="error" ng-if="isInvalid">User email or password is invalid ! </div>
					<div class="sign-in-htm">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" type="email" class="input" name="email" ng-model="formData.email" required="" ng-pattern="emailFormat"/>
							<p><span ng-show="showMsg && signin.email.$error.required">Enter valid user name</span></p>
							<p><span ng-show="showMsg && signin.email.$error.pattern">Enter valid email</span></p>
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input name="pass" type="password" class="input" data-type="password" ng-model="formData.password" ng-minlength="6" required="">
							
							<p><span ng-show="showMsg && !signin.pass.$valid">Password is too short.</span></p>
						</div>
						<div class="group">
							<input type="submit" class="button" value="Sign In" ng-click="userSignIn();">
						</div>
						
						<div class="hr"></div>
						<div class="foot-lnk">
							<!--<a href ng-click="CheckApiKey()">Check</a>-->
							<a href ui-sref="dashboard">Forgot Password?</a>
						</div>
					</div>
				</form>    
				<!--Sign up design-->
				<form name="signup" novalidate>
					<div class="sign-up-htm">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input type="text" class="input" name="username" ng-model="formData.userName" required="" />
							<p><span ng-show="showMsg && signup.username.$error.required">Enter user name.</span></p>
						</div>
						<div class="group">
							<label for="email" class="label">Email Address </label>
							<input type="email" class="input" name="email" ng-model="formData.email" required="" ng-pattern="emailFormat"/>
							<p><span ng-show="showMsg && signup.email.$error.required">Enter valid user name</span></p>
							<p><span ng-show="showMsg && signup.email.$error.pattern && signup.email.$touched">Enter valid email</span></p>
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input type="password" class="input" data-type="password" name="pass" ng-model="formData.spassword" ng-minlength="6" required="" />
							<p><span ng-show="showMsg && signup.pass.$error.required">Enter password.</span></p>
							<p><span ng-show="showMsg && !signup.pass.$valid && signup.pass.$touched">Password is too short.</span></p>
						</div>
						<div class="group">
							<label for="cpass" class="label">Repeat Password</label>
							<input name="confirmPass" type="password" class="input" ng-model="formData.confirmPass" compare-to="formData.spassword">
							<p><span ng-show="signup.confirmPass.$error.compareTo">Not match.</span></p>
						</div>
						
						<div class="group">
							<input type="submit" class="button" value="Sign Up" ng-click="userSignUp();">
						</div>
						<div class="hr"></div>
						<div class="foot-lnk">
							<!--<a href ng-click="logout();">Logout</a>-->
							<label for="tab-1">Already Member?</a>
						</div>
					</div>
				</form> 
			</div>
		</div>
	</div>
</div>
