<div class=" toppad" >
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<div class="table_wrapper">
			<table class="table table-fixed  table-bordered table-striped">
				<thead>
					<tr>
						<th  class="col-xs-3">Firstname</th>
						<th  class="col-xs-3">Lastname</th>
						<th  class="col-xs-3">Email</th>
						<th  class="col-xs-3">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3">
							<ul class="action_wrap">
								<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
								<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
						
					</tr> 
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr> 
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr> 
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr> 
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr>
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr>
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr>
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr>
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr>
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr>
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr>
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr>
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr>
					<tr>
						<td class="col-xs-3">John</td><td class="col-xs-3">	Doe</td><td class="col-xs-3">john@example.com</td><td class="col-xs-3"> <ul class="action_wrap">
							<li><a href="#"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
							<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
						</ul></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
</div>